
.brands {
    margin:51px 0 51px 0;
    background-color: $color-1;

    &__head {
        padding: 16px 0 16px 16px;
        background-color: $color-2;
        font-family: TTLakes-Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: inherit;
        color: $color-6;
        background: linear-gradient(-270deg, $color-1 0%, $color-2 98.61%);
        border-top: 1px solid $color-3;

        @media (min-width: 768px) {padding: 16px 0 16px 24px;}

        @media (min-width: 1366px) {padding: 16px 0 16px 32px;}
    }
    
    &__list {
        margin: 16px 0 0 16px; 

        @media (min-width: 768px) {
            flex-direction: column; 
            display: flex;
            margin: 8px 0 0 0;
        }

        .swiper-wrapper {

            @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
            }

            div.swiper-slide {

                @media (min-width: 768px) {width:248px;}

                @media (min-width: 1366px) { 
                      box-sizing: border-box;
                      width: 240px;
                      margin: 16px 0 0 32px;
                  }

                .list__element {
                    display: flex;
                    width: 240px;  
                    background: url(../img/Bitmap.svg) 16px center no-repeat $color-2;
                    border: 1px solid $color-4;
                    border-radius: 6px;
                    margin-bottom: 42px;

                    @media (min-width: 768px) {
                        width: 224px;
                        margin: 16px 0 0 24px;
                    }

                    @media (min-width: 1366px) {
                        width: 240px;
                        margin: 0;
                    }
    
                    &--2 {
                        background-image: url(../img/Bitmap\(sam\).svg)
                    }
                    
                    &--3 {
                        background-image: url(../img/Bitmap\ \(1\).svg);
                    }
                    
                    &--4 {
                        background-image: url(../img/Bitmap\ \(2\).svg);
                    }
                    
                    &--5 {
                        background-image: url(../img/Bitmap\ \(3\).svg);
                    }
                    
                    &--6 {
                        background-image: url(../img/Bitmap\ \(4\).svg);
                    }
                    
                    &--7 {
                        background-image: url(../img/Bitmap\ \(5\).svg);

                        @media (min-width: 768px) {display: none;}
                    }
                    
                    &--8 {
                        background-image: url(../img/Bitmap\ \(6\).svg);

                        @media (min-width: 768px) {display: none;}
                    }

                    &--9 {
                        @media (min-width: 768px) {display: none;}
                    }
                    
                    &--10 {
                        background-image: url(../img/Bitmap\(sam\).svg);

                        @media (min-width: 768px) {display: none;}
                    }
                    
                    &--11 {
                        background-image: url(../img/Bitmap\ \(1\).svg);

                        @media (min-width: 768px) {display: none;}
                    }
    
                    .list__button {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: url(../img/go.svg);
                        margin: 16px 16px 16px auto;

                        &:hover {
                            transition: opacity 2s ease; 
                            opacity: 0.5;  
                        }
                    }
                }
            }
        } 
        
        span.swiper-pagination-bullet {
            background: $color-10;
            width: 12px;
            height: 12px;

            &-active {
                background: $color-11;
                width: 12px;
                height: 12px;
            }
        }
    }

    &__button {
        margin: 16px 0 0 24px;
        display: none;
        font-family: TTLakes-Medium;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
        cursor: pointer;
        border: hidden;
        background: none;

        @media (min-width: 768px) {display: block;}

        @media (min-width: 1366px) {margin:8px 0 0 32px;}

        &::before {
            content: url(../img/expand.svg);
            position: relative; 
            left: -6px; 
            top: 6px; 
        }
        
        &:last-child {
            display: none;
            margin-top: 16px;

            &::before {
                content: url(../img/expand2.svg);
            }
        }
        
        &:hover {
            transition: opacity 2s ease; 
            opacity: 0.5;  
        }
    }
}





 