$color-1: #F8F8F8;
$color-2: #FFFFFF;
$color-3: #D9FFF5;
$color-4: #EAEAEA;
$color-5: #41F6D7;
$color-6: #7E7E82;
$color-7: #B8FFEC;
$color-8: #0E185033;
$color-9: #1B1C21;
$color-10: #DDDDDD;
$color-11: #B5B6BC;
$color-12: #FF3E79;
$color-13: #454F7E05;