@use "colors" as *; 
body { 
    max-width: 1920px;
    background-color:$color-1;
    margin: auto;

    .main__header {
        display: flex;
        background-color: $color-2;
        border-bottom: 1px solid $color-3;

        

        .header__call {
                @media (min-width: 768px) {
                    margin: 24px 24px;
                    content: url(../img/call.svg);
                }
                
                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }
        
            .header__chat {
                @media (min-width: 768px) {
                    margin: 24px 24px 24px 0;
                    content: url(../img/chat.svg);
                }

                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }
        
            .header__profile {
                @media (min-width: 768px) {
                    margin: 24px 24px 24px 0;
                    content: url(../img/profile.svg);
                }

                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }

            .header__burger {
            content: url(../img/burger.svg);
            margin: 24px 16px 24px 16px;   

            @media (min-width: 768px) {margin: 24px 24px;}

            &:hover {
                transition: opacity 2s ease; 
                opacity: 0.5;  
            }
        }
        
        .header__group {    
            width: 97px;
            height: 51px;
            margin: 18px auto 18px 0;

            @media (min-width: 768px) {margin-left: 24px;}
        } 
        
        .header__repair {
            content: url(../img/repair.svg);
            margin: 24px 0 24px 16px;

            @media (min-width: 768px) {margin-left: 24px;}

            &:hover {
                transition: opacity 2s ease; 
                opacity: 0.5;  
            }
        }
        
        .header__checkstatus {
            content: url(../img/checkstatus.svg);
            margin: 24px 16px 24px 16px;

            @media (min-width: 768px) {margin: 24px 24px;}

            &:hover {
                transition: opacity 2s ease; 
                opacity: 0.5;  
            }
        }
        
        .header__divider {
            content: '';
            height: 30px;
            width: 0;
            border: 1px solid $color-4;
            margin: 28px 0;
        }
    }

    .demonstration::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 38px;
        margin-bottom: -12px;
        border: 2px solid $color-5;
        border-radius: 0 6px 6px 0; 

        @media (min-width: 1366px) {margin-left: -22px;}
    }

            .demonstration__repair {

                @media (min-width: 1366px) {
                    position: absolute;
                    top: 54px;
                    right: 284px;
                    font-family:TTLakes-Medium;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.2px;
                    text-decoration: none;
                    color: inherit;
                }

                &::after {
                    content: url(../img/repair.svg);
                    position: absolute;
                    margin: -8px 0 0 8px;
                }

                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }
        
            .demonstration__checkstatus {
                @media (min-width: 1366px) {
                    position: absolute;
                    top: 54px;
                    right: 84px;
                    font-family:TTLakes-Medium;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.2px;
                    text-decoration: none;
                    color: inherit;
                }

                &::after {
                    content: url(../img/checkstatus.svg);
                    position: absolute;
                    margin: -8px 0 0 8px;
                }

                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }
        
        .demonstration__head {
            display: inline-block;
            margin: 24px 0 0 12px;
            letter-spacing:-0.6px;
            line-height: 40px;
            font-family:TTLakes-Bold;
            font-size: 28px;

            @media (min-width: 768px) {margin-left: 18px;}

            @media (min-width: 1366px) {margin: 42px 0 8px 29px;}
        }
        
        .demonstration__slide-menu {
            margin: 24px 0 0 16px;

            @media (min-width: 768px) {margin: 32px 0 0 24px;}

            @media (min-width: 1366px) {margin: 10px 0 0 33px;}
        }
        
        .slide-menu {
            letter-spacing: -0.2px;
            color: $color-6;
            font-family:TTLakes-Medium;
            line-height: 24px;
            font-size: 16px;    
            white-space: nowrap;
            overflow: auto;

            @media (min-width: 1366px) {white-space:inherit;}

            &__button {
                padding: 8px 16px;
                background: none;
                color: inherit;
                border: none;
                font: inherit;
                cursor: pointer;
                outline: none;

                &:hover {
                    transition: opacity 2s ease; 
                    opacity: 0.5;  
                }
            }

            &__button--active {
                border: 2px solid $color-7;
                border-radius: 6px;
            }
            
        }
        
        .demonstration__block {
            display: flex;
            flex-wrap: wrap;

            @media (min-width: 768px) {
                padding-right: 24px;
                flex-wrap:nowrap;
            }

            .block__info {
                margin: 24px 16px 16px 16px;

                @media (min-width: 768px) {margin: 32px 48px 0 24px;}

                @media (min-width: 1366px) {margin: 16px 38px 0 33px;}
                
                .info__text {
                    vertical-align: text-top;
                    letter-spacing:0.2px;
                    font-family:TTLakes-Regular;
                    line-height: 18px;
                    font-size: 14px;

                    @media (min-width: 768px) {line-height: 20px; }
                }
                  
                .info__button {
                    display: block;
                    font-family: TTLakes-Medium;
                    line-height: 24px;
                    font-size: 16px;
                    cursor: pointer;
                    border: none;
                    background: none;
                    margin: 16px 0 0 0;

                   &::before {
                    content: url(../img/expand.svg);
                    position: relative; 
                    left: -10px; 
                    top: 6px; 
                    }

                    &:last-child {
                        display: none; 

                        &::before {
                            content: url(../img/expand2.svg);
                        }
                    }

                    &:hover {
                        transition: opacity 2s ease; 
                        opacity: 0.5;  
                    }
                }
            }
            
            .block__image {
                max-width: 100%;
                height: auto;

                @media (min-width: 768px) {
                    max-width: 50%;
                    height: 50%;
                    margin-top: 32px;
                }

                @media (min-width: 1366px) {margin-top: 7px;}
            }
        } 
}